<div class="span2">
    <a href="/admin/challenge/">
        <button class="btn btn-info btn-menu" type="button">Challenge Management</button>
    </a>
</div>
<div class="span2">
    <a href="/admin/">
        <button class="btn btn-info btn-menu" type="button">Challenge<br /> Situation</button>
    </a>
</div>
<div class="span6">
    <a href="/admin/manager-user/">
        <button class="btn btn-info btn-menu" type="button">User Management</button>
    </a>
	{% block header-menu %} {% endblock %}

</div>
