{% extends "base.html" %}
{% block title %} status {% endblock %}
{% block style_external %}
<style type="text/css">
</style>
{% endblock %}
{% block js_external %}
<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        
        // Radialize the colors
        Highcharts.getOptions().colors = $.map(Highcharts.getOptions().colors, function(color) {
            return {
                radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
                stops: [
                    [0, color],
                    [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
                ]
            };
        });
        
        // Build the chart
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Solved Problem Statics'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ parseInt(this.percentage) +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Solving Rate',
                data: [
                    {% for prob in solved_problems %}
                    ['{{ prob.prob_name }}', {{ prob.prob_solver }}]{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ]
            }]
        });
    });
});
</script>
{% endblock %}
{% block content %}
{% if message %}
<h3>{{ message }}
{% else %}
{% include "admin/solve_status/header.html" %}
{% include "admin/solve_status/user_search.html" %}
<div id="container" style="min-width:50%; height:400px; margin:0 auto;float:left"></div>
<table class="table table-hover" style="width:30%; float:left; margin-left:150px;">
    <tbody>
        <tr class="info">
            <td>#</td>
            <td>Problem Name</td>
            <td>Solvers</td>
        </tr>
        {% for problem in all_problems %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="/admin/solver/{{ problem.prob_name }}/">{{ problem.prob_name }}</a></td>
            <td>{{ problem.prob_solver }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/exporting.js"></script>
{% endif %}
{% endblock %}
