{% extends "base.html" %}
{% block title %} status {% endblock %}
{% block admin_active %}active{% endblock %}
{% block js_external %}
<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
    
        var colors = Highcharts.getOptions().colors,
            categories = [{% for problem in solved_problems %}'{{ problem.prob_name }}'{% if not forloop.last %},{% endif %}{% endfor %}],
            name = 'Solved Problem Statics',
            data = [{
            {% for problem in solved_problems %}
                    y: {{ problem.prob_solver }},
                    color: colors[({{ forloop.counter }}-1)],
                    {% if not forloop.last %} },{ {% else %} } {% endif %}
            {% endfor %}
            ];
    
        function setChart(name, categories, data, color) {
            chart.xAxis[0].setCategories(categories, false);
            chart.series[0].remove(false);
            chart.addSeries({
                name: name,
                data: data,
                color: color || 'white'
            }, false);
            chart.redraw();
        }
    
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'column'
            },
            title: {
                text: 'Solved problem status'
            },
            xAxis: {
                categories: categories,
                labels: {
                    rotation: -45,
                    align: 'right',
                    style: {
                        fontSize: '11px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                title: {
                    text: 'The number of solvers.'
                }
            },
            tooltip: {
                formatter: function() {
                    var point = this.point,
                        s = this.x +':<b>'+ this.y +' solvers</b><br/>';
                    return s;
                }
            },
            series: [{
                name: name,
                data: data,
                color: 'white'
            }],
            exporting: {
                enabled: false
            }
        });
    });
    
});
</script>
{% endblock %}
{% block content %}
{% if message %}
<h3>{{ message }}
{% else %}
{% include "admin/header.html" %}
{% include "admin/solve_status/user_search.html" %}
<div id="container" style="min-width:60%; height:400px; margin:0 auto;float:left"></div>
<table class="table table-hover" style="width:31%; float:left; margin-left:30px;">
    <tbody>
        <tr class="info">
            <td>#</td>
            <td>Problem Name</td>
            <td>Solvers</td>
        </tr>
        {% for problem in all_problems %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="/admin/solver/{{ problem.id }}/">{{ problem.prob_name }}</a></td>
            <td>{{ problem.prob_solver }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/exporting.js"></script>
{% endif %}
{% endblock %}
