{% extends "base.html" %}
{% block title %}{{problem.prob_name}} - solvers {% endblock %}
{% block content %}
<form method="POST" class="form-search" action="/admin/user/">
    <div class="input-append">
        <input type="text" name="username" class="span2 search-query" placeholder="Username" />
        <button type="submit" class="btn">Search</button>
        {% csrf_token %}
    </div>
</form>
<table class="table table-hover">
    <tr class="info">
        <td>Solver</td>
        <td>Authentication Value</td>
        <td>Authentication Time</td>
        <td>Solver IP</td>
    </tr>
    {% for solver in solvers %}
    <tr>
        <td>{{ solver.user_id.username }}</td>
        <td>{{ solver.auth_value }}</td>
        <td>{{ solver.auth_time }}</td>
        <td>{{ solver.auth_ip }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
