{% extends "base.html" %}
{% block title %} Challenge Manager {% endblock %}
{% block css_extneral %}
<link href="/static/css/jquery.treeview.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block js_external %}
<script src="/static/js/jquery.treeview.js"></script>
{% endblock %}

{% block content %}
<div style="padding-bottom:80px;">
{% include "admin/solve_status/header.html" %}

{% block header-menu %}
	<div class="span4 offset8">
	    <a href="#">
	        <button class="btn btn-primary" id="add-tag" type="button">Add Tag</button>
	    </a>
	    <a href="#">
	        <button class="btn btn-primary" id="add-prob" type="button">Add Problem</button>
	    </a>    
	</div>
{% endblock %}
</div>
<hr>
{% load admin_filter %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3" id="problem-content" style="border-right:2px solid #eeeeee;">
		<ul id="browser" class="filetree treeview">
			{% for tag in tags %}
			<li class="collapsable" id="{{tag.tag}}"><div class="hitarea collapsable-hitarea"></div><span class="folder"> {{ tag.tag }}</span>
				<span id="tool_box">
					<i class="icon-pencil" id="tag-{{tag.id}}"></i>
					<i class="icon-remove" id="del-tag-{{tag.id}}"></i>
				</span>
				<ul>
					{% for prob in probs|getObject:tag %}
						<li class="last"><a class="file" id="prob-{{prob.id}}">{{prob.prob_name}}</a><i class="icon-remove"id="del-prob-{{prob.id}}"></i></li>
					{% endfor %} 
				</ul>
			</li>
			{% endfor %}				
		</ul>
    </div>
    <div class="span7" id="challenge-content">
    	<div id="container" style="width: 700px; height: 400px; margin: 0 auto"></div>	
    </div>
  </div>
</div>



<script src="/static/js/highcharts.js"></script>
<script src="/static/js/highcharts-more.js"></script>
<script src="/static/js/exporting.js"></script>
<script type="text/javascript">
	

	$(document).ready(function(){
		$("#browser").treeview();
		window.chart = new Highcharts.Chart({
	                
	        chart: {
	            renderTo: 'container',
	            polar: true,
	            type: 'line'
	        },
	        
	        title: {
	            text: 'Tag - Problem',
	            x: -80
	        },
	        
	        pane: {
	            size: '80%'
	        },
	        
	        xAxis: {
	            categories:[{% for tag in tags %}'{{tag.tag}}'{% if not forloop.last %},{% endif %}{% endfor %}],
	            tickmarkPlacement: 'on',
	            lineWidth: 0
	        },
	            
	        yAxis: {
	            gridLineInterpolation: 'polygon',
	            lineWidth: 0,
	            min: 0
	        },
	        
	        tooltip: {
	            shared: true,
	            valuePrefix: '갯수:'
	        },
	        
	        legend: {
	            align: 'right',
	            verticalAlign: 'top',
	            y: 100,
	            layout: 'vertical'
	        },
	        
	        series: [{
	            name: 'Problem',
	            data:[{% for tag in tags %} {{ tag.getProblemCount }} {% if not forloop.last %},{% endif %}{% endfor %}],
	            pointPlacement: 'on'
	        }]
	    });
		var prob_id,tag_id;
		$('.file').live('click',function(){
			var id = $(this).attr('id');
			prob_id = id.split("-")[1];
			$.ajax(
			{
				url: "/admin/modify-prob/?prob_id=" + prob_id,
				type: "GET",
				dataType: "html",
				success: function(data){
					$('#challenge-content').hide().html(data).fadeIn(700);
				}
			});
		});
		
		$('.icon-pencil').live('click',function(){
			var id = $(this).attr('id');
			tag_id = id.split("-")[1];
			$.ajax(
			{
				url: "/admin/modify-tag/?tag_id=" + tag_id,
				type: "GET",
				dataType: "html",
				success: function(data){
					$('#challenge-content').hide().html(data).fadeIn(700);
				}
			});	
		});
		
		$('#problem-modify-form').live('submit',function(){
			$.post("/admin/modify-prob/?prob_id=" + prob_id,$(this).serialize(),function(data){
				$('#challenge-content').hide().html(data).fadeIn(700);
				ReloadProbList();
			});
			return false;
		});
		$('#tag-modify-form').live('submit',function(){
			$.post("/admin/modify-tag/?tag_id=" + tag_id,$(this).serialize(),function(data){
				$('#challenge-content').hide().html(data).fadeIn(700);
				ReloadProbList();
			});
			return false;
		});
		$('.last').find('.icon-remove').live('click',function(){
			var id = $(this).attr('id');
			prob_id = id.split("-")[2];
			if(confirm("문제를 삭제합니다."))
			{
				$.ajax(
				{
					url: "/admin/delete-prob/?prob_id=" + prob_id,
					type: "GET",
					dataType: "html",
					success: function(data){
						location.href = location.href;
						ReloadProbList();
					}
				});				
			}
			else
			{
				return false;
			}
		});	
		$('#tool_box').find('.icon-remove').live('click',function(){
			var id = $(this).attr('id');
			prob_id = id.split("-")[2];
			if(confirm("태그를 삭제합니다."))
			{
				$.ajax(
				{
					url: "/admin/delete-tag/?tag_id=" + prob_id,
					type: "GET",
					dataType: "html",
					success: function(data){
						location.href = location.href;
						ReloadProbList();	
					}
				});
							
			}
			else
			{
				return false;
			}
		});			
		
		$('#add-tag').live('click',function(){
			$.ajax(
			{
				url: "/admin/add-tag/",
				type: "GET",
				dataType: "html",
				success: function(data){
					$('#challenge-content').hide().html(data).fadeIn(700);
				}
			});	
			return false;
		});
		$('#tag-add-form').live('submit',function(){
			$.post("/admin/add-tag/",$(this).serialize(),function(data){
				$('#challenge-content').hide().html(data).fadeIn(700);
				ReloadProbList();
			});
			return false;
		});
		$('#add-prob').live('click',function(){
			$.ajax(
			{
				url: "/admin/add-prob/",
				type: "GET",
				dataType: "html",
				success: function(data){
					$('#challenge-content').hide().html(data).fadeIn(700);
				}
			});	
			return false;
		});
		$('#problem-add-form').live('submit',function(){
			$.post("/admin/add-prob/",$(this).serialize(),function(data){
				$('#challenge-content').hide().html(data).fadeIn(700);
				ReloadProbList();
			});
			return false;
		});		
	});
	
	function ReloadProbList(){
		$.ajax(
		{
			url: "/admin/problist/",
			type: "GET",
			dataType: "html",
			success: function(data){
				$('#problem-content').html(data);
			}
		});	
	}
	

</script>
{% endblock %}
