<div class="btn-group">
    <a href="/admin/"><button class="btn btn-info btn-menu" type="button">Challenge<br />Situation</button>></a>
    <a href="/admin/challenge/"><button class="btn btn-info btn-menu" type="button">Challenge<br />Management</button>></a>
    <a href="/admin/manager-user/"><button class="btn btn-info btn-menu" type="button">User<br />Management</button>></a>
    <a href="/admin/add-category/"><button class="btn btn-info btn-menu" type="button">Board<br />Management</button>></a>
    <a href="/admin/server-onoff/"><button class="btn btn-info btn-menu" type="button">Server<br />Settings</button>></a>
</div>
