{% extends "base.html" %}
{% block title %} Challenge Manager {% endblock %}
{% block css_extneral %}
<link href="/static/css/jquery.treeview.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block js_external %}
<script src="/static/js/jquery.treeview.js"></script>
{% endblock %}

{% block content %}
<div style="padding-bottom:80px;">
{% include "admin/solve_status/header.html" %}
</div>
<hr>
{% load admin_filter %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3" id="problem-content" style="border-right:2px solid #eeeeee;">
		<ul id="browser" class="filetree treeview">
			{% for tag in tags %}
			<li class="collapsable"><div class="hitarea collapsable-hitarea"></div><span class="folder"> {{ tag.tag }}</span><i class="icon-pencil" id="tag-{{tag.id}}"></i><i class="icon-remove"></i>
				<ul>
					{% for prob in probs|getObject:tag %}
						<li class="last"><a class="file" id="prob-{{prob.id}}">{{prob.prob_name}}</a></li>
					{% endfor %} 
				</ul>
			</li>
			{% endfor %}				
		</ul>
    </div>
    <div class="span7" id="challenge-content"></div>
  </div>
</div>



<script type="text/javascript">
	$(document).ready(function(){
		$("#browser").treeview();
		var prob_id,tag_id;
		$('.file').live('click',function(){
			var id = $(this).attr('id');
			prob_id = id.split("-")[1];
			$.ajax(
			{
				url: "/admin/modify-prob/?prob_id=" + prob_id,
				type: "GET",
				dataType: "html",
				success: function(data){
					$('#challenge-content').hide().html(data).fadeIn(700);
				}
			});
		});
		
		$('.icon-pencil').live('click',function(){
			var id = $(this).attr('id');
			tag_id = id.split("-")[1];
			$.ajax(
			{
				url: "/admin/modify-tag/?tag_id=" + tag_id,
				type: "GET",
				dataType: "html",
				success: function(data){
					$('#challenge-content').hide().html(data).fadeIn(700);
				}
			});	
		});
		
		$('#problem-modify-form').live('submit',function(){
			$.post("/admin/modify-prob/?prob_id=" + prob_id,$(this).serialize(),function(data){
				$('#challenge-content').hide().html(data).fadeIn(700);
				ReloadProbList();
			});
			return false;
		});
		$('#tag-modify-form').live('submit',function(){
			$.post("/admin/modify-tag/?tag_id=" + tag_id,$(this).serialize(),function(data){
				$('#challenge-content').hide().html(data).fadeIn(700);
				ReloadProbList();
			});
			return false;
		});
		
	});
	
	function ReloadProbList(){
		$.ajax(
		{
			url: "/admin/problist/",
			type: "GET",
			dataType: "html",
			success: function(data){
				$('#problem-content').html(data);
			}
		});	
	}
</script>
{% endblock %}
