{% extends "base.html" %}
{% block title %} Server On/Off {% endblock %}
{% block admin_active %}active{% endblock %}
{% block css_extneral %}
<link href="/static/css/jquery.treeview.css" rel="stylesheet" type="text/css">
<style>
    .pages{ width:140px; text-align:center;}
</style>
{% endblock %}
{% block js_external %}
<script src="/static/js/jquery.treeview.js"></script>
{% endblock %}

{% block content %}
<div style="padding-bottom:80px;">
{% include "admin/header.html" %}

{% block header-menu %}
	<div class="span4 offset8">
	</div>
{% endblock %}
</div>
<hr>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span7" id="modify-content">
    	<div id="container" style="width: 700px; height: 400px; margin: 0 auto">
            <div id="wrap-modify-form">
                <form method="POST" id="modify-form">
                    <fieldset>
                        <dl>
                            {% for field in form.hidden_fields %}
                                {{ field }}
                            {% endfor %}
                            {% for field in form.visible_fields %}
                                <dt>{{ field.label_tag }}</dt>
                                <dd>{{ field }} {{ field.errors }}</dd>
                            {% endfor %}
                        </dl>
                        {% csrf_token %}
                        Level 0 : close challenge page.<br />
                        Level 1 : open challenge page, but can not auth<br />
                        Level 2 : open challenge page, users can auth<br />
                         <input class="btn" type="submit" value="modify"/>
                    </fieldset>
                </form>
           </div>
        </div>	
    </div>
  </div>
</div>



<script src="/static/js/exporting.js"></script>
<script type="text/javascript">
    
	$(document).ready(function(){
        $("#id_on_off_level option[value='{{ on_off_level }}']").attr("selected", true);
    });
</script>
{% endblock %}
