{% extends "base.html" %}
{% block title %} User Manager {% endblock %}
{% block css_extneral %}
<link href="/static/css/jquery.treeview.css" rel="stylesheet" type="text/css">
<style>
    .pages{ width:140px; text-align:center;}
    .highlight{ font-weight:bold;}
</style>
{% endblock %}
{% block js_external %}
<script src="/static/js/jquery.treeview.js"></script>
{% endblock %}

{% block content %}
<div style="padding-bottom:80px;">
{% include "admin/solve_status/header.html" %}

{% block header-menu %}
	<div class="span4 offset8">
	</div>
{% endblock %}
</div>
<hr>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3" style="border-right:2px solid #eeeeee;">
		<div class="form-search">
            <div class="input-append">
                    <input type="text" id="search-username" class="span6 search-query" placeholder="Username" onkeypress="SearchKeyPress(event)">
                    <button type="button" class="btn" id="search-button"  onclick="SearchUser()">Search</button>
            </div>
        </div>
        <br>
        <div id="user-content">
            <ul id="browser" class="filetree treeview">
                {% for type, users in all_users.items %}
                <li class="collapsable" id="{{ type }}"><div class="hitarea collapsable-hitarea"></div><span class="folder"> {{ type }}</span>
                    <ul>
                        {% for user in users %}
                            <li class="last">
                                <a class="file" id="user-{{user.id}}">{{user.username}}</a>
                                <i class="icon-remove"id="del-user-{{user.id}}"></i>
                            </li>
                        {% endfor %}
                        <div id="{{ type }}-page"class="pages">|
                        </div>
                    </ul>
                </li>
                {% endfor %}				
            </ul>
            {% for k, v in pages_count.items %}
                <input type="hidden" value="1" id="{{ k }}-page-index">
                <input type="hidden" value="{{ v }}" id="{{ k }}-page-num">
            {% endfor %}
        </div>
    </div>
    <div class="span7" id="modify-content">
    	<div id="container" style="width: 700px; height: 400px; margin: 0 auto">
            <div id="wrap-modify-form">
                <form method="POST" id="modify-form">
                    <fieldset>
                        <dl>
                            {% for field in form.hidden_fields %}
                                {{ field }}
                            {% endfor %}
                            {% for field in form.visible_fields %}
                                <dt>{{ field.label_tag }}</dt>
                                <dd>{{ field }} {{ field.errors }}</dd>
                            {% endfor %}
                        </dl>
                        {% csrf_token %}
                         <input class="btn" type="submit" value="modify"/>
                    </fieldset>
                </form>
           </div>
        </div>	
    </div>
  </div>
</div>



<script src="/static/js/highcharts.js"></script>
<script src="/static/js/highcharts-more.js"></script>
<script src="/static/js/exporting.js"></script>
<script type="text/javascript">
    
    $('#normal-users-page-1').css({"font-weight": "bold", "color" : "red"});
    $('#super-users-page-1').css({"font-weight": "bold", "color" : "red"});
	
	$(document).ready(function(){
		$("#browser").treeview();
		var user_id;
		$('.file').live('click',function(){
			var id = $(this).attr('id');
			user_id = id.split("-")[1];
			$.ajax(
			{
				url: "/admin/info-user/?user_id=" + user_id,
				type: "GET",
				dataType: "json",
				success: function(data){
                    var is_staff=Number(data.is_staff);
                    var is_superuser=Number(data.is_superuser);
                    var is_active=Number(data.is_active);
                    $('#id_user_id').val(data.user_id);
                    $('#id_username').val(data.username);
                    $('#id_email').val(data.email);
                    $('#id_nickname').val(data.nickname);
                    $('#id_is_staff option[value='+is_staff+']').attr("selected", true);
                    $('#id_is_superuser option[value='+is_superuser+']').attr("selected", true);
                    $('#id_is_active option[value='+is_active+']').attr("selected", true);
}
			});
		});
		
		$('.last').find('.icon-remove').live('click',function(){
			var id = $(this).attr('id');
			user_id = id.split("-")[2];
			if(confirm("유저를  삭제합니다."))
			{
				$.ajax(
				{
					url: "/admin/delete-user/?user_id=" + user_id,
					type: "GET",
					dataType: "html",
					success: function(data){
						location.href = location.href;
						ReloadUserList();
					}
				});				
			}
			else
			{
				return false;
			}
		});
	});

    $('#modify-form').submit(function(){
        $.post('/admin/modify-user/',$(this).serialize(),function(data){
            alert(data);
            ReloadUserList();
        });
        return false;
    });

    function SearchKeyPress(e){
        e = e || window.event;
        if(e.keyCode == 13){
            $("#search-button").click();
        }
    }

    function SearchUser(){
        {% for group in groups %}
            $('#{{ group }}-users-page-index').val('1');
        {% endfor %}
        ReloadUserList();
        $('#search-username').focus();
     }

	function ReloadUserList(){
        {% for group in groups %}
            var {{ group }}_user_page = $('#{{ group }}-users-page-index').val();
        {% endfor %}
        var search= $('#search-username').val(); 
		$.ajax(
		{
           url: "/admin/userlist/?search="+search{% for group in groups %}+"&{{ group }}_user_page="+{{ group }}_user_page{% endfor %},
			
			type: "GET",
			dataType: "html",
			success: function(data){
				$('#user-content').html(data);
                DecidePageRanges();
                ShowPageIndexes();
			}
		});	
	}

    function MovePage(type, page){
        $('#'+type+'-users-page-index').val(page);
        ReloadUserList();
    }

    {% for group in groups %}
        var {{ group }}_users_page_start;
        var {{ group }}_users_page_end;
    {% endfor %}

    function ShowPageIndexes(){
        {% for group in groups %}
            $('#{{ group }}-users-page').html('|');
            for(var i={{ group }}_users_page_start; i<={{ group }}_users_page_end; i++){
                $('#{{ group }}-users-page').append("<span id='{{ group }}-users-page-"+i+"' onclick='MovePage(\"{{ group }}\", "+i+")'> "+i+" </span>|"); 
            }
            index=$('#{{ group }}-users-page-index').val();
            $('#{{ group }}-users-page-'+index).css({"font-weight" : "bold", "color" : "red"});
        {% endfor %}
    }

    function DecidePageRanges(){
        {% for group in groups %}

            {{ group }}_users_page_start=$('#{{ group }}-users-page-index').val()-2;
            if({{ group }}_users_page_start<=0){
                {{ group }}_users_page_start=1;
            }
            {{ group }}_users_page_end={{ group }}_users_page_start+4;
            if({{ group }}_users_page_end>$('#{{ group }}-users-page-num').val()){
                {{ group }}_users_page_end=$('#{{ group }}-users-page-num').val();
            }
        {% endfor %}
    }

    DecidePageRanges();
    ShowPageIndexes();

</script>
{% endblock %}
