{% load admin_filter %}
<ul id="browser" class="filetree treeview">
	{% for type, users in all_users.items %}
	    <li class="collapsable" id="{{ type }}"><div class="hitarea collapsable-hitarea"></div><span class="folder"> {{ type }}</span>
			<ul>
				{% for user in users %}
					<li class="last">
                       <a class="file" id="user-{{user.id}}">{{ user.username|highlight:search }}</a>
	                   <i class="icon-remove"id="del-user-{{user.id}}"></i>
                    </li>
    			{% endfor %}
                <div id="{{ type }}-page"class="pages">|
                </div>
			</ul>
		</li>
		{% endfor %}				
	</ul>
    {% for k, v in pages.items %}
        <input type="hidden" value="{{ v }}" id="{{ k }}-page-index">
    {% endfor %}
    {% for k, v in pages_count.items %}
        <input type="hidden" value="{{ v }}" id="{{ k }}-page-num">
    {% endfor %}
</div>
