{% extends "base.html" %}
{% block title %} User Manager {% endblock %}
{% block css_extneral %}
<link href="/static/css/jquery.treeview.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block js_external %}
<script src="/static/js/jquery.treeview.js"></script>
{% endblock %}

{% block content %}
{% block header-menu %}
{% endblock %}
TEST PAGE<br>
This is superusers<br>
{% for user in superusers %}
    {{ user.username }} <input type="button" onclick="modifyUser()"><hr>
{% endfor %}
This is normal users<br>
{% for user in users %}
    {{ user.username }<hr>
{% endfor %}

 
{% load admin_filter %}
{% endblock %}
