{% extends "base.html" %}
{% block title %} Server On/Off {% endblock %}
{% block admin_active %}active{% endblock %}
{% block content %}
{% include "admin/header.html" %}
{% if on_off_level_alert %}
<script>alert('Server On/Off Level Changed');</script>
{% endif %}
{% if rank_mode_alert %}
<script>alert('Rank Mode Changed');</script>
{% endif %}
<div class="row-fluid">
    <div class="span4" id="modify-content">
        {% include "admin/server_settings/server_on_off.html" %}
    </div>
    <div class="span4" id="rank-mod-select">
        {% include "admin/server_settings/change_rank_mode.html" %}
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $("#id_on_off_level option[value='{{ on_off_level }}']").attr("selected", true);
        $("#id_mode option[value='{{ rank_mode }}']").attr("selected", true);
    });
</script>
{% endblock %}
