{% extends "base.html" %}
{% block title %}Challenge{% endblock %}
{% block challenge_active %}active{% endblock %}
{% block content %}
{% if solved %}
<script>
alert("Already Solved!");
location.href="/challenge/";
</script>
{% endif %}
{% if solve %}
<script>alert("Congratulation!");
location.href="/challenge/";
</script>
{% endif %}
{% if fail %}
<script>
alert("Wrong!");
location.href="/challenge/";
</script>
{% endif %}

<div style="width:60%;float:left;">
    <div class="btn-group">
    <a href="/challenge/"><button class="btn btn-info">All</button></a>
    {% for tag in tag_list %}
    <a href="/challenge/?tag={{tag.id|urlencode}}"><button class="btn">{{tag.tag|escape}}</button></a>
    {% endfor %}
    </div>
</div>
<div style="float:left;">
    <form method="post" class="form-inline" action="/challenge/auth/">
        <input type="text" name="auth" placeholder="Do not bruteforce!" />
        <button type="submit" class="btn">Auth</button>
        {% csrf_token %}
    </form>
</div>
<table>
    <tbody>
        <tr>
        {% for prob in prob_data %}
            {% if prob.id in solvedProblems %}
            <td><button type="button" class="btn btn-large btn-success disabled" onClick="printProb({{prob.id}},'{{prob.prob_content|linebreaksbr|escapejs}}',{{prob.prob_point}}, {{prob.prob_file}})">{{ prob.prob_name }}</button></td>
            {% else %}
            <td><button type="button" class="btn btn-large btn-inverse" onClick="printProb({{prob.id}},'{{prob.prob_content|linebreaksbr|escapejs}}',{{prob.prob_point}}, '{{prob.prob_file}}')">{{ prob.prob_name }}</button></td>
            {% endif %}
            {% if forloop.counter|divisibleby:"6" %} 
            </tr>
            {% endif %}
        {% endfor %}
        </tr>
    </tbody>
</table>
<div style="float:left">
    <p id="prob-score"></p>
    <p id="prob-content"></p>
</div>

<script type="text/javascript">
    function printProb(id, content,score,file){
    	if(file.length > 0){
    		var file_data = "<br/><br/> <a target='blank' href='/uploads/challenge/" + file +"'>FILE DOWNLOAD</a>";
       	}else{
       		var file_data = "";
       	}
        $('#prob-id').val(id)
        $('#prob-content').html("content<br>- " + content + file_data);
        $('#prob-score').html("points : " + score);
        
    }
</script>
{% endblock %}
