{% extends "base.html" %}
{% block title %} Board {% endblock %}
{% block board_active %}active{% endblock %}
{% block style_external %}
<style type="text/css">
    .text {
        text-align:right;
        text-decoration:underline;
    }
    .btns {
        width: 400px;
        margin-left: 82%;
    }
</style>
{% endblock %}
{% block content %}
<h1>{{ post.title }}</h1>
<p>[{{ post.category.name }}] {{ post.time }}</p>
<hr>
<div style="width:80%">
    <blockquote>{{ post.content|linebreaksbr }}</blockquote>
</div>
<p class="text">Posted by {{ post.user.username }}</p>
<hr>
<div class="btns">
    <a href="/board/"><button type="button" class="btn">Back</button></a>
    {% if is_author%}
    <a href="/board/modify-post/{{ post.id }}"><button type="button" class="btn">Modify</button></a>
    {% endif %}
    {% if is_author or user.is_superuser %}
    <a href="/board/delete-post/{{ post.id }}"><button type="button" class="btn">Delete</button></a>
    {% endif %}
</div>
{% endblock %}
