<table class="table table-hover">
    <tr class="info">
        <td>No</td>
        <td>User</td>
        <td>Title</td>
        <td>Time</td>
    </tr>
    {% for post in posts %}
        {% if post.category.id == 1 %}
            <tr class="error">
        {% else %}
            <tr>
        {% endif %}
        <td>{{ forloop.counter }}</td>
        <td>{{ post.user.username }}</td>
        <td><a href="/board/show-post/{{ post.id }}">{{ post.title }}</a></td>
        <td>{{ post.time }}</td>
    </tr>
    {% endfor %}
</table>
