{% extends "base.html" %}
{% block title %} Board {% endblock %}
{% block style_external %}
<style type="text/css">
    .menu {
        margin-left: 95%
    }
</style>
{% endblock %}
{% block content %}
<h1 class="pager">Board</h1>
<div class="menu"><a href="/board/write-post/"><button type="button" class="btn">Write</button></a></div>
<hr>
<table class="table table-hover">
<tr class="info">
    <td>ID</td>
    <td>User</td>
    <td>Title</td>
    <td>Time</td>
</tr>
{% for post in posts %}
<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ post.user.username }}</td>
    <td><a href="/board/show-post/{{ post.id }}">{{ post.title }}</a></td>
    <td>{{ post.time }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
