{% extends "base.html" %}
{% block title %} Manage Categories {% endblock %}
{% block admin_active %}active{% endblock %}
{% block content %}
{% include "admin/header.html" %}
<div class="row-fluid">
    <div class="span2">
        <ul>
            {% for category in categories %}
            <li><a href="/admin/modify-category/{{ category.id }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="span6">
        <form method="post" class="form-inline">
            <p>Category Name</p>
            {{ form.category_name }}
            <button type="submit" class="btn">Modify</button>
            {% csrf_token %}
            <a href="/admin/delete-category/{{ category_id }}"><button type="button" class="btn">Delete</button></a>
        </form>
    </div>
</div>
<hr>
<div class="row-fluid">
    <div style="width:100%">
        <table class="table table-hover">
            <tr class="info">
                <td>Category</td>
                <td>ID</td>
                <td>User</td>
                <td>Title</td>
                <td>Time</td>
            </tr>
            {% for post in posts %}
            <tr>
                <td>{{ post.category }}</td>
                <td>{{ post.id }}</td>
                <td>{{ post.user }}</td>
                <td><a href="/board/show-post/{{ post.id }}">{{ post.title }}</a></td>
                <td>{{ post.time }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
