<style>
	#btn-prob-add{
		float:right;
	}
</style>

<form method="post" class="form-horizontal" id="problem-add-form"  enctype="multipart/form-data">
    {% for field in form %}
    <div class="control-group">
        <label class="control-label">{{ field.label_tag }}</label>
        <div class="controls">
            {{ field }} {{ field.errors }}
        </div>
    </div>
    {% endfor %}
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">Add</button>
        </div>
    </div>
    {% csrf_token %}
</form>
