{% extends "base.html" %}
{% block title %}Rank{% endblock %}
{% block rank_active%}active{% endblock %}
{% block content %}
<h1 class="pager">Rank</h1>
<table class="table table-hover">
    <tbody>
        <tr class="info">
            <td>#</td>
            <td>Name</td>
            <td>Score</td>
            <td>Last Solving Time</td>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ user.id.user|escape }}</td>
            <td>{{ user.id.score|escape }}</td>
            <td>test</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
